 body{
    height: 100hv;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
} 

#board {
    width: 720px;
    height: 720px;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 1%;
    padding: 30px;
    text-align: center;
    background-color: rgb(247, 210, 146);
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}

.square {
    position: relative;
    width: 100%;
    height: 100%;
}

.piece {
    width: 50px;
    height: 80px;
    pointer-events: none;
}

.dark {
    background-color: rgb(87, 87, 87);
}

.selected {
    background-color: rgb(0, 0, 0);
}

.highlight {
    background-color: rgb(43, 1, 255);
}


.piece.animate {
    animation: pop 0.4s ease;
  }
  
  @keyframes pop {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.3) rotate(10deg); }
    100% { transform: scale(1); }
  }